*,
html {
    margin: 0;
    padding: 0;
}


.container-navbar {
    background-color: brown;
    width: 100%;
    height: 100px;
}
.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}


.li-navbar {
    border: 1px solid white;
    background-color: black;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    color: white;
}